# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\РИП\Лабораторные работы\Лаб4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
