
body{
    background: #000000;
    text-align: center;
    color: white;
}
 img{
 width: 500px;
 height: 320px;
 }
goback
{
       text-align: left;
        width: 100px;
        height: 100px;
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
     color: #eb5959;
}

