{% extends 'hotel/base.html' %}

{% block title %}
Отель "Мечта"
{% endblock %}

{% block content %}
    <h2 class="text-center">Описание</h2>
    <h5><p>Курортный отель «Мечта» с обслуживанием по системе «все включено» находится в Анапе, в 900 метрах от
        побережья Черного моря. Прогулка до пляжа занимает 20 минут. Для гостей организуют трансфер до пляжа. <br><br>
        Номера с сейфом оборудованы кондиционером, холодильником и телевизором с плоским экраном. Из некоторых номеров
        можно выйти на террасу или балкон. Собственная ванная комната укомплектована халатами, тапочками и бесплатными
        туалетно-косметическими принадлежностями.<br><br>
        К услугам гостей бассейн с подогревом, возле которого установлены шезлонги и зонтики, и бар.<br><br>
        В ресторанах отеля подают блюда грузинской и средиземноморской кухни. Гости могут также посетить расположенный
        на верхнем этаже ресторан, с террасы которого открывается вид на море.<br><br>
        В курортном отеле «Мечта» есть спа-центр с крытым бассейном и салоном красоты, а также караоке и открытая
        концертная площадка. Гости могут поиграть в бильярд. Для детей и взрослых организуют развлекательные программы.</p></h5><br>

    <img src="https://cf.bstatic.com/images/hotel/max1024x768/818/81862435.jpg"  alt="...">
    <h2 class="text-center"><br>Типы номеров</h2>
    <h5><p>Каждый номер отеля обеспечен ванной комнатой, сейфом, кондиционером, телевизором и бесплатным wi-fi.</p></h5>
    <h3><u>Эконом</u></h3>
    <h5><p>Небольшие уютные номера, включающие в себя все вышеперечисленное, в некоторых номерах наличие балкона.</p></h5>
    <p>
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/81751333.jpg?k=6baf3ba2b82cab3db48e81b40b393cf37c452f55c52921f8b609e76e5a9080a1&o=" alt="Фотография 1" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/81751295.jpg?k=60b7da943d7f8e07b2239a07d86ac70893e151212d365772333b08b278bc921b&o=" alt="Фотография 2" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/177845153.jpg?k=61907351adef76cae19f861205180587085b5cbec01933b527b8a4893e9350a9&o=" alt="Фотография 3" width="300" height="200">
    </p>
    <h3><u>Стандарт</u></h3>
    <h5><p>Номера с большей площадью, наличие небольшого холодильника, также дополнительно предоставляется бесплатная
           парковка, в некоторых номерах наличие балкона.</p></h5>
    <p>
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/155039400.jpg?k=5419cb1e7bd50e5e2724a7cee4c76d6f2571f6e8f0d94a15761a35c1ad999359&o=" alt="Фотография 4" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/107142273.jpg?k=d58c58f111ff46d8d94c0aaf32c6fe1adfd8a8f66403ddbabaa3ce2b195d8652&o=" alt="Фотография 5" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/107142270.jpg?k=b15220169c623c89e3df89de63d5e89e5b7141262473f808f30f62b7ef5b6956&o=" alt="Фотография 6" width="300" height="200">
    </p>
    <h3><u>Люкс</u></h3>
    <h5><p>номера с отдельным балконом (или без) и видом на море, наличие в номере мини-бара, дополнительно
           предоставляется бесплатная парковка.</p></h5>
    <p>
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/177850129.jpg?k=7830aae8b6c479f310d11836624c8ff8726df0dac705f4b7ba2b054780eefff5&o=" alt="Фотография 7" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/177850366.jpg?k=cc7f75ae6f3ee960525ed9a8a686e2a9c80c0e576555b2b2b66aa01ecd79f66a&o=" alt="Фотография 8" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/155036865.jpg?k=f15e55318d9a265b36525ff7074ea7a65e9005ea587ef50c68780e2375c91d55&o=" alt="Фотография 9" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/81744602.jpg?k=fe53bd60590f217718a668903f0f578a9bceab8110deb0105e582dcad6f33ec7&o=" alt="Фотография 10" width="300" height="200">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/81744604.jpg?k=7e91941f127af86082791b0de70c469f702e00d8db9676e978ba087ac6c3d0d2&o=" alt="Фотография 11" width="300" height="200">
    </p>
{% endblock %}


